@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.fixedOne {

    animation: expandWidth 1s linear forwards; /* 'forwards' keeps the final state */
}
